{% extends 'basicInfo/admin_base.html' %}
{% load staticfiles %}
{% block body %}

<!-- content -->
<div class="content">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">个人信息</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="col-lg-6">
			<form role="form" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="disabledSelect">工号</label>
					<input class="form-control" id="teacher_id" type="text"  disabled placeholder={{teacher_id}} >
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label for="disabledSelect">姓名</label>
					<input name="tname" id="teacher_name" type="text" class="form-control" aria-describedby="basic-addon2"  disabled placeholder={{teacher_name}}>
				</div>
				<div class="form-group">
					<label for="disabledSelect">职称</label>
					<input name="ttitle" id="teacher_title" type="text" class="form-control" aria-describedby="basic-addon2"  disabled placeholder={{teacher_title}}>
				</div>
				<div class="form-group">
					<label for="disabledSelect">办公室</label>
					<input name="tdepartment" id="teacher_office" type="text" class="form-control" aria-describedby="basic-addon2"  disabled placeholder={{teacher_college}}>
				</div>
				<div class="form-group">
					<label for="disabledSelect">管理学院</label>
					<input class="form-control" id="teacher_manage" type="text" disabled placeholder={{college_name}} >
				</div>
				<div class="form-group">
					<label for="disabledSelect">邮箱</label>
					<input name="temail" id="teacher_email" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_mail}}>
				</div>
				<button type="button" onclick="push()">确认修改</button>
			</form>
		</div>
		<!-- /.row -->
	</div>
</div>
<!--content-ends-->


<script>
    const basicUrl="http://127.0.0.1:8000/";
    function push() {
        var tid=teacher_id.value;
        var office=teacher_office.value;
        var email=teacher_email.value;

        new Promise(function (resolve){
            $.ajax(
                {
                    method: "POST",
                    url: basicUrl+"api/teacher/info",
                    data: {
                        account_id: tid,
                        account_email: email,
                        teacher_office: office,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    async : false,
                    success: function (data) {
                        resolve(data);
                        console.log(data);
                    }

                }
            )
        }).then(
            function (data) {
                console.log(data);
				if(data.success)
				{
					alert("success");
                }
				else{
					alert("fail");
				}
            }

        );
    }
</script>

<script>
	new Promise(function (resolve){
		   $.ajax(
			   {
				   method: "GET",
				   url: basicUrl+"api/teacher/info?account_id=" + account_id.innerText,
				   async : false,
				   success: function (data) {
					   resolve(data);
					   console.log(data);
				   }

			   }
		   )
		}).then(
			function (data) {
				console.log(data);
				document.getElementById("teacher_id").value = account_id.innerText;
				document.getElementById("teacher_name").value = data.name;
				document.getElementById("teacher_title").value = data.teacher_title;
				document.getElementById("teacher_office").value = data.teacher_office;
				document.getElementById("teacher_manage").value = data.teacher_management;
				document.getElementById("teacher_email").value = data.email;

			}

		);
</script>

{% endblock %}
