{% extends 'basicInfo/admin_base.html' %}
{% load staticfiles %}
{% block body %}

<div class="content">
    <div id="wrapper">
        <div id="page-wrapper" style="min-height: 58px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">教师信息修改</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <form role="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="disabledSelect">工号</label>
                        <input class="form-control" id="teacher_id" type="text" placeholder={{teacher_id}} >
                    </div>
                    <button type="button" onclick="search()">查询</button>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="disabledSelect">姓名</label>
                        <input name="tname" id="teacher_name" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_name}}>
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">职称</label>
                        <input name="ttitle" id="teacher_title" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_title}}>
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">办公室</label>
                        <input name="tdepartment" id="teacher_office" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_office}}>
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">管理学院</label>
                        <input class="form-control" id="teacher_management" type="text" placeholder={{teacher_management}} >
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">邮箱</label>
                        <input class="form-control" id="teacher_email" type="text" placeholder={{teacher_email}} >
                    </div>
                    <button type="button" onclick="push()">确认修改</button>
                </form>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

</div>
<!--content-ends-->

<script>
    const basicUrl="http://127.0.0.1:8000/";
    function search() {
        var tid=teacher_id.value;

        new Promise(function (resolve){
            $.ajax(
                {
                    method: "GET",
                    url: basicUrl+"api/teacher/info",
                    data: {
                        account_id: tid,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    async : false,
                    success: function (data) {
                        resolve(data);
                        console.log(data);
                    }
                }
            )
        }).then(
            function (data) {
                console.log(data);

                teacher_name.value = data.name
                teacher_title.value = data.teacher_title
                teacher_office.value = data.teacher_office
                teacher_management.value = data.teacher_management
                teacher_email.value = data.email;
            }

        );
    }
    function push(){
        var tid = teacher_id.value;
        var tname = teacher_name.value;
        var ttitle = teacher_title.value;
        var toffice = teacher_office.value;
        var tmanagement = teacher_management.value;

        new Promise(function (resolve){
            $.ajax(
                {
                    method: "POST",
                    url: basicUrl+"api/admin/teacher",
                    data: {
                        account_id: tid,
                        name: tname,
                        title: ttitle,
                        office: toffice,
                        management: tmanagement,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    async : false,
                    success: function (data) {
                        resolve(data);
                        console.log(data);
                    }
                }
            )
        }).then(
            function (data) {
                console.log(data);

                if(data.success){
                    alert("修改成功");
                }
                else{
                    alert(data.reason)
                }
            }

        );
    }
</script>


{% endblock %}
