<!DOCTYPE HTML>
{% load staticfiles %}
<html>

<!-- head-starts -->
<head>
	<title>浙江大学教务中心</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'basicInfo/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="{% static 'basicInfo/css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="{% static 'basicInfo/css/font-awesome.css' %}" rel="stylesheet"> 
	<!-- jQuery -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- lined-icons -->
	<link rel="stylesheet" href="{% static 'basicInfo/css/icon-font.min.css' %}" type='text/css' />
	<script src="{% static 'basicInfo/js/amcharts.js' %}"></script>	
	<script src="{% static 'basicInfo/js/serial.js' %}"></script>	
	<script src="{% static 'basicInfo/js/light.js' %}"></script>	
	<!-- //lined-icons -->
	<script src="{% static 'basicInfo/js/jquery-1.10.2.min.js' %}"></script>
</head> 
<!-- head-starts -->

<!-- body-starts -->
<body>
   <div class="page-container">
   	<div class="left-content">
	   <div class="inner-content">

			<!-- header-starts -->
			<div class="header-section">
			<!-- top_bg -->
				<div class="top_bg">			
					<div class="header_top">
						<div class="top_right">
							<ul>
								<li><a href="#">浙江大学教务中心</a></li>|
								<li><a href="teacher_index.html">首页</a></li>|
							</ul>
						</div>
					    <div class="top_left">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="fa fa-user fa-fw"></i> <i id="account_id" class="fa fa-caret-down">{{ account_id }}</i>
								</a>
								<ul class="dropdown-menu dropdown-user">
									<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a></li>
									<li><a href="#"><i class="fa fa-cog fa-fw"></i>设置</a></li>
								</ul>
								<!-- /.dropdown-user -->
							</li>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- header-ends -->

			<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

			<!-- Custom Fonts -->
			<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
			
			<!-- Custom CSS -->
			<!-- content -->
			<div class="content">
				<div id="page-wrapper">
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">个人信息</h1>
						</div>
						<!-- /.col-lg-12 -->
					</div>
					<!-- /.row -->
					<div class="col-lg-6">
						<form role="form" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label for="disabledSelect">工号</label>
								<input class="form-control" id="teacher_id" type="text"  disabled placeholder={{teacher_id}} >
							</div>
							<div class="clearfix"></div>
							<div class="form-group">
								<label for="disabledSelect">姓名</label>
								<input name="tname" id="teacher_name" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_name}}>
							</div>
							<div class="form-group">
								<label for="disabledSelect">职称</label>
								<input name="ttitle" id="teacher_title" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_title}}>
							</div>
							<div class="form-group">
								<label for="disabledSelect">办公室</label>
								<input name="tdepartment" id="teacher_office" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_college}}>
							</div>
							<div class="form-group">
								<label for="disabledSelect">管理学院</label>
								<input class="form-control" id="teacher_manage" type="text" disabled placeholder={{college_name}} >
							</div>
							<div class="form-group">
								<label for="disabledSelect">邮箱</label>
								<input name="temail" id="teacher_email" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_mail}}>
							</div>
							<button type="button" onclick="push()">确认修改</button>
						</form>
					</div>
					<!-- /.row -->
				</div>
				<!-- wrapper -->

				<!-- jQuery -->
				<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

				<!-- Bootstrap Core JavaScript -->
				<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

				<!-- Custom Theme JavaScript -->
				<script src="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7+1/js/sb-admin-2.js"></script>
			</div>
			<!--content-ends-->
		</div>
		<!--content-inner-ends-->
	</div>
	<!--content-left-ends-->

	<!--sidebar-menu-->
	<div class="sidebar-menu">
		<header class="logo1">
			<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
		</header>
		<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
			<ul id="menu" >
				<li><a href="admin_index"><i class="fa fa-tachometer"></i> <span>主页</span></a></li>
				<li><a href="admin_information"><i class="lnr lnr-pencil"></i> <span>个人信息</span></a></li>
				<li><a href="admin_comment"><i class="fa fa-file-text-o"></i> <span>学生评价</span></a></li>
				<li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> 课程信息</span> <span class="fa fa-angle-right" style="float: right"></span></a>
					<ul id="menu-academico-sub" >
						<li id="menu-academico-avaliacoes" ><a href="admin_course_regist">申请课程</a></li>
						<li id="menu-academico-boletim" ><a href="admin_course_edit">修改课程</a></li>
					</ul>
				</li>
				<li><a href="admin_course_approve"><i class="fa fa-file-text-o"></i> <span>课程审批</span></a></li>
				<li><a href="admin_course_adjust"><i class="fa fa-file-text-o"></i> <span>课程调整</span></a></li>
				<li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> 申请审批</span> <span class="fa fa-angle-right" style="float: right"></span></a>
					<ul id="menu-academico-sub" >
						<li id="menu-academico-avaliacoes" ><a href="admin_apply_approve_s">学生申请</a></li>
						<li id="menu-academico-boletim" ><a href="admin_apply_approve_t">教师申请</a></li>
					</ul>
				</li>
				<li><a href="admin_select_adjust"><i class="fa fa-file-text-o"></i> <span>选课调整</span></a></li>
				<li><a href="school_forum"><i class="lnr lnr-envelope"></i> <span>浙大论坛</span></a></li>
			</ul>
		</div>
	</div>
	<!--sidebar-menu-ends-->
	
	<div class="clearfix"></div>		
</div>
<script>
    const basicUrl="http://127.0.0.1:8000/";
    function push() {
        var tid=teacher_id.value;
        var office=teacher_office.value;
        var email=teacher_email.value;

        new Promise(function (resolve){
            $.ajax(
                {
                    method: "POST",
                    url: basicUrl+"api/teacher/info",
                    data: {
                        account_id: tid,
                        account_email: email,
                        teacher_office: office,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    async : false,
                    success: function (data) {
                        resolve(data);
                        console.log(data);
                    }

                }
            )
        }).then(
            function (data) {
                console.log(data);
				if(data.success)
				{
					alert("success");
                }
				else{
					alert("fail");
				}
            }

        );
    }
</script>
<script>
	new Promise(function (resolve){
		   $.ajax(
			   {
				   method: "GET",
				   url: basicUrl+"api/teacher/info?account_id=" + account_id.innerText,
				   async : false,
				   success: function (data) {
					   resolve(data);
					   console.log(data);
				   }

			   }
		   )
		}).then(
			function (data) {
				console.log(data);
				document.getElementById("teacher_id").value = account_id.innerText;
				document.getElementById("teacher_name").value = data.name;
				document.getElementById("teacher_title").value = data.teacher_title;
				document.getElementById("teacher_office").value = data.teacher_office;
				document.getElementById("teacher_manage").value = data.teacher_management;
				document.getElementById("teacher_email").value = data.email;

			}

		);
</script>
<script>
	var toggle = true;
										
	$(".sidebar-icon").click(function() 
	{                
		if (toggle)
		{
			$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
			$("#menu span").css({"position":"absolute"});
		}
		else
		{
			$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
			setTimeout(function() 
			{
				$("#menu span").css({"position":"relative"});
					}, 400);
			}
											
			toggle = !toggle;
		});
</script>
			
	
<!--js -->
<script src="{% static 'basicInfo/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'basicInfo/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'basicInfo/js/bootstrap.min.js' %}"></script>
<script src="{% static 'basicInfo/js/menu_jquery.js' %}"></script>
</body>


</html>