{% extends 'basicInfo/admin_base.html' %}
{% load staticfiles %}
{% block body %}

<div class="content">
    <div id="wrapper">
        <div id="page-wrapper" style="min-height: 58px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">课程审批</h1>
                </div>
            </div>
            <div class="row">
                <form role="form">
                    <div class="col-lg-6">
                        <form action="/teacher/student_comment" method="get">
                            <div class="form-group">
                                <select class="form-control" name="metric">
                                    <option value="id">课程代号</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-condensed" id="kexuan-tab">
                <thead>
                    <tr>
                        <th>课程代号</th>
                        <th>课程名称</th>
                        <th>课程学分</th>
                        <th>课程课时</th>
                        <th>课程介绍</th>
                        <th>课程学期</th>
                        <th>课程类型</th>
                        <th>考试时间</th>
                        <th>批复</th>
                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

<script>
    $(document).ready(function () {
        courselit();
    });

    const basicUrl="http://127.0.0.1:8000/";
    function courselit() {
        var url = basicUrl + "api/admin/course";
        new Promise(function (resolve){
           $.ajax(
               {
                   method: "GET",
                   url: url,
                   data: {
                   },
                   async : false,
                   success: function (data) {
                        resolve(data);
                   }

               }
           )
            }).then(
                function (data) {
                    {#console.log(data);#}
                    for(var i=0;i<data.length;i++){
                        var text = "<tr>\n" +
                         "<td>"+data[i].id+"</td>\n" +
                         "<td>"+data[i].name+"</td>\n" +
                         "<td>"+data[i].credit+"</td>\n" +
                         "<td>"+data[i].hour+"</td>\n" +
                         "<td>"+data[i].intro+"</td>\n" +
                         "<td>"+data[i].semester+"</td>\n" +
                         "<td><input type=\"text\" placeholder=\"请输入课程类型(MSC)\" id=\"t"+i+"\"/></td>\n" +
                         "<td><input type=\"datetime-local\" class=\"datepicker\" placeholder=\"请选择日期\" id=\"d"+i+"\"/></td>\n" +
                         "<td><button onclick=\"disagree(\'"+data[i].id+"\',"+i+")\" id=\"b"+i+"\" type=\"button\" style=\"background-color: #1A9F00\" class=\"btn btn-primary\">拒绝</button>" +
                         "<button onclick=\"agree(\'"+data[i].id+"\',"+i+")\" id=\"b"+i+"\" type=\"button\" style=\"background-color: #1A9F00\" class=\"btn btn-primary\">同意</button></td>\n" +
                         "</tr>";
                        {#console.log(text);#}
                        $("#tbody").append(text);
                    }

                }
            );
    }
</script>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            console.log("ASS");
        });
    });
    function agree(id,timei) {
        console.log(id,document.getElementById("d" + timei).value);
        var basicUrl="http://127.0.0.1:8000/";
        new Promise(function (resolve){
       $.ajax(
           {
               method: "POST",
               url: basicUrl+"api/admin/course",
               data: {
                   courseid:id,
                   type:document.getElementById("t" + timei).value,
                   examdate:document.getElementById("d" + timei).value,
                   permit:1,
                   csrfmiddlewaretoken: '{{ csrf_token }}'
               },
               async : false,
               success: function (data) {
                    resolve(data);
               }

           }
       )
        }).then(
            function (data) {
                console.log(data);
                if(data.success)
                    alert("成功！批准开课：" + id);
                else
                    alert(data.reason);
                window.location.reload();
            }
        );
    }
    function disagree(id,timei) {
        console.log(id,document.getElementById("d" + timei).value);
        var basicUrl="http://127.0.0.1:8000/";
        new Promise(function (resolve){
       $.ajax(
           {
               method: "POST",
               url: basicUrl+"api/admin/course",
               data: {
                   courseid:id,
                   examdate:document.getElementById("d" + timei).value,
                   permit:0,
                   csrfmiddlewaretoken: '{{ csrf_token }}'
               },
               async : false,
               success: function (data) {
                    resolve(data);
               }

           }
       )
        }).then(
            function (data) {
                console.log(data);
                if(data.success)
                    alert("成功！拒绝开课：" + id);
                else
                    alert(data.reason);
                window.location.reload();
            }
        );
    }
</script>     
    
{% endblock %}
