<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>浙江大学教务中心</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="La casa free real state fully responsive html5/css3 home page website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{% static 'basicInfo/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'basicInfo/css/responsive.css' %}">

	<script type="text/javascript" src="{% static 'basicInfo/js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'basicInfo/js/main.js' %}"></script>
</head>
<body>

	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="#"><img src="{% static 'basicInfo/images/zju.png' %}" class="logo" alt="" title=""/></a>
				<a href="#" class="hamburger"></a>
				<nav>
					<ul>
						<li><a href="#">关于</a></li>
						<!--<li><a href="#">AIM</a></li>-->
						<li><a href="#">建议</a></li>
						<li><a href="#">联系我们</a></li>
					</ul>
					<a href="login" class="login_btn">登录</a>
				</nav>
			</div>
		</header><!--  end header section  -->

			<section class="caption">
				<h2 class="caption">Welcome to ZJU Tutor Board</h2>
				<h3 class="properties">欢迎来到浙江大学教务中心</h3>
			</section>
	</section><!--  end hero section  -->


	<section class="search">
		<div class="wrapper">
			<form action="#" method="post">
				<input type="text" id="search" name="search" placeholder="What are you looking for?"  autocomplete="off"/>
				<input type="submit" id="submit_search" name="submit_search"/>
			</form>
			<a href="#" class="advanced_search_icon" id="advanced_search_btn"></a>
		</div>

		<div class="advanced_search">
			<div class="wrapper">
				<span class="arrow"></span>
				<form action="#" method="post">
					<div class="search_fields">
						<input type="text" class="float" id="check_in_date" name="check_in_date" placeholder="Check In Date"  autocomplete="off">

						<hr class="field_sep float"/>

						<input type="text" class="float" id="check_out_date" name="check_out_date" placeholder="Check Out Date"  autocomplete="off">
					</div>
					<div class="search_fields">
						<input type="text" class="float" id="min_price" name="min_price" placeholder="Min. Price"  autocomplete="off">

						<hr class="field_sep float"/>

						<input type="text" class="float" id="max_price" name="max_price" placeholder="Max. price"  autocomplete="off">
					</div>
					<input type="text" id="keywords" name="keywords" placeholder="Keywords"  autocomplete="off">
					<input type="submit" id="submit_search" name="submit_search"/>
				</form>
			</div>
		</div><!--  end advanced search section  -->
	</section><!--  end search section  -->


	<footer>
		<div class="wrapper footer">
			<ul>
				<li class="links">
					<ul>
						<li><a href="#">关于浙大</a></li>
						<li><a href="#">联系我们</a></li>
						<li><a href="#">申请</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">学生科研</a></li>
						<li><a href="#">学生社团</a></li>
						<li><a href="#">毕业去向</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">紫金港校区</a></li>
						<li><a href="#">玉泉校区</a></li>
						<li><a href="#">西溪校区</a></li>
					</ul>
				</li>

				<li class="about">
					<p>
                        Zhejiang University is a comprehensive research university with national and international impact. In the Essential Science Indicator (ESI) rankings of 22 disciplines, Zhejiang University ranks among the top 1% in 15 disciplines and is listed in the top 100 of the world’s academic institutions in 4 disciplines.
                    </p>
					<ul>
						<li><a href="http://facebook.com/pixelhint" class="facebook" target="_blank"></a></li>
						<li><a href="http://twitter.com/pixelhint" class="twitter" target="_blank"></a></li>
						<li><a href="http://plus.google.com/+Pixelhint" class="google" target="_blank"></a></li>
						<li><a href="#" class="skype"></a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="copyrights wrapper">
			Copyright © 2018 <a href="#" target="_blank" class="ph_link">SE2018</a>. All Rights Reserved.
		</div>
	</footer><!--  end footer  -->
	
</body>
</html>