<!DOCTYPE HTML>
{% load staticfiles %}
<html>

<!-- head-starts -->
<head>
	<title>浙江大学教务中心</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'basicInfo/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="{% static 'basicInfo/css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="{% static 'basicInfo/css/font-awesome.css' %}" rel="stylesheet"> 
	<!-- jQuery -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- lined-icons -->
	<link rel="stylesheet" href="{% static 'basicInfo/css/icon-font.min.css' %}" type='text/css' />
	<link rel="stylesheet" href="{% static 'basicInfo/css/signup.css' %}">
    <script src="{% static 'basicInfo/js/amcharts.js' %}"></script>
	<script src="{% static 'basicInfo/js/serial.js' %}"></script>	
	<script src="{% static 'basicInfo/js/light.js' %}"></script>
    <script src="{% static 'basicInfo/js/checkPassword.js' %}"></script>
	<!-- //lined-icons -->
	<script src="{% static 'basicInfo/js/jquery-1.10.2.min.js' %}"></script>
</head> 
<!-- head-starts -->

<!-- body-starts -->
<body>
   <div class="page-container">
   	<div class="left-content">
	   <div class="inner-content">

			<!-- header-starts -->
			<div class="header-section">
			<!-- top_bg -->
				<div class="top_bg">			
					<div class="header_top">
						<div class="top_right">
							<ul>
								<li><a href="#">浙江大学教务中心</a></li>|
								<li><a href="login">首页</a></li>|
							</ul>
						</div>
					    <div class="top_left">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down">{{ account_id }}</i>
								</a>
								<ul class="dropdown-menu dropdown-user">
									<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a></li>
									<li><a href="#"><i class="fa fa-cog fa-fw"></i>设置</a></li>
								</ul>
								<!-- /.dropdown-user -->
							</li>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- header-ends -->

			<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

			<!-- Custom Fonts -->
			<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

           {% ifequal success 0 %}
               <p>123</p>
           {% endifequal %}
			
			<!-- Custom CSS -->
			<!-- content -->
			<div class="content">
				<div id="page-wrapper">
					<div class="content tab">
						<div class="fo-top">
							<div class="col-lg-12">
                    			<h1 class="page-header">注册 Sign in</h1>
                			</div>
                		</div>
						<div class="log">
						<div class="login">               
                                {% csrf_token %}
                                <fieldset id="body">
                                <fieldset>
                                    <label for="id">账号</label>
                                    <input type="text" name="id" id="id">
                                </fieldset>
                                <fieldset>
                                    <label for="password1">密码</label>
                                    <input type="password" name="password1" id="password1" onkeyup="checkPasswordLength(this.value)">
                                    <div id="pwdPrompt">
                                         <div id="pwdLength">
                                              <span style=" background-color:#999;">弱</span>
                                              <span style=" background-color:#666;">中</span>
                                              <span style=" background-color:#333;">强</span>
                                         </div>
                                         <div style="width: 340px;">密码可由字母、数字、特殊符号组成，长度为6-18个字符</div>

                                    </div>
                                </fieldset>
                                <fieldset>
                                    <label for="password2">再次输入密码</label>
                                    <input type="password" name="password2" id="password2" >

                                </fieldset>

                                     <span class="btn btn-default loginbutton" onclick="doLogin()">注册</span>
                                    <label for="checkbox"><input type="checkbox" id="checkbox"> <i>下次登录记住我</i></label>
                                </fieldset>
                                <!-- <span><a href="#">忘记密码?</a></span> -->
							</div>
						</div>
					</div>

					
			</div>
				</div>
				<!-- wrapper -->

				<!-- jQuery -->
				<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

				<!-- Bootstrap Core JavaScript -->
				<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

				<!-- Custom Theme JavaScript -->
				<script src="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7+1/js/sb-admin-2.js"></script>
			</div>
			<!--content-ends-->
		</div>
		<!--content-inner-ends-->
	</div>
	<!--content-left-ends-->

	<!--sidebar-menu-->
	<div class="sidebar-menu">
		<header class="logo1">
			<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
		</header>
		<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
			<ul id="menu" >
				<li><a href="teacher_index.html"><i class="fa fa-tachometer"></i> <span>主页</span></a></li>
				<li><a href="teacher_information.html"><i class="lnr lnr-pencil"></i> <span>个人信息</span></a></li>
				<li><a href="teacher_comment.html"><i class="fa fa-file-text-o"></i> <span>学生评价</span></a></li>
				<li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> 课程信息</span> <span class="fa fa-angle-right" style="float: right"></span></a>
					<ul id="menu-academico-sub" >
						<li id="menu-academico-avaliacoes" ><a href="teacher_course_regist.html">申请课程</a></li>
						<li id="menu-academico-boletim" ><a href="teacher_course_edit.html">修改课程</a></li>
					</ul>
				</li>
				<li><a href="school_forum.html"><i class="lnr lnr-envelope"></i> <span>浙大论坛</span></a></li>
			</ul>
		</div>
	</div>
	<!--sidebar-menu-ends-->
	
	<div class="clearfix"></div>		
</div>


<script>
	var toggle = true;
										
	$(".sidebar-icon").click(function() 
	{                
		if (toggle)
		{
			$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
			$("#menu span").css({"position":"absolute"});
		}
		else
		{
			$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
			setTimeout(function() 
			{
				$("#menu span").css({"position":"relative"});
					}, 400);
			}
											
			toggle = !toggle;
		});
</script>

<script>
        const basicUrl="http://127.0.0.1:8000/";
        function doLogin(params) {
            var username=document.getElementById("id").value.toString();
            var password=document.getElementById("password1").value.toString();
            var password2=document.getElementById("password2").value.toString();

            if(password != password2){
                alert("密码不一致，请重新输入");
                return;
            }

            new Promise(function (resolve){
               $.ajax(
                   {
                       method: "POST",
                       url: basicUrl+"api/account/register",
                       data: {
                           account_id: username,
                           account_pw: password,
                           account_pw2: password2,
                           csrfmiddlewaretoken: '{{ csrf_token }}'
                       },
                       success: function (data) {
                            resolve(data);
                           console.log(data);
                       }

                   }
               )
            }).then(
                function (data) {
                    console.log(data);
                    if(data.success)
                    {
                        alert("Login success");
                        window.location.href = basicUrl+"basic/login";
                        window.open();
                    }
                    else{
                        alert("注册失败："+data.reason);
                    }

                }

            );


        }
    </script>
			
	
<!--js -->
<script src="{% static 'basicInfo/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'basicInfo/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'basicInfo/js/bootstrap.min.js' %}"></script>
<script src="{% static 'basicInfo/js/menu_jquery.js' %}"></script>
</body>


</html>

