<!-- header-starts -->
<div class="header-section">
<!-- top_bg -->
	<div class="top_bg">			
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="#">浙江大学教务中心</a></li>|
					<li><a href="teacher_index">首页</a></li>|
				</ul>
			</div>
		    <div class="top_left">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user fa-fw"></i> <i id="account_id" class="fa fa-caret-down">{{ account_id }}</i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/basic/login"><i class="fa fa-sign-out fa-fw"></i>登出</a></li>
						<li><a href="#"><i class="fa fa-cog fa-fw"></i>设置</a></li>
					</ul>
					<!-- /.dropdown-user -->
				</li>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- header-ends -->
