
{% extends 'basicInfo/teacher_base.html' %}
{% load staticfiles %}

{% block body %}
            
<!-- Custom CSS -->
<!-- content -->
<div class="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">开课申请</h1>
            </div>
        </div>
        <div class="col-lg-6">
            <form role="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="disabledSelect">课程代号</label>
                    <input name="id" id="id" type="text" class="form-control" aria-describedby="basic-addon2" value={{id}}>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="disabledSelect">课程名称</label>
                    <input id="name" name="name" type="text" v class="form-control" aria-describedby="basic-addon2" alue={{name}}>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="disabledSelect">课程学分</label>
                    <input id="credit" name="credit" type="number" class="form-control" aria-describedby="basic-addon2" value={{credit}}>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="disabledSelect">课程学时</label>
                    <input id="hour" name="hour" type="number" class="form-control" aria-describedby="basic-addon2" value={{hour}}>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="disabledSelect">课程介绍</label>
                    <input id="intro" name="intro" type="text" class="form-control" aria-describedby="basic-addon2" value={{intro}}>
                </div>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-default loginbutton" onClick="doApply()">确认申请</button>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- wrapper -->
</div>
<!--content-ends-->
      
<script>
	const basicUrl="http://127.0.0.1:8000/";
    function doApply() {
		var id=document.getElementById("id").value.toString();
        var name=document.getElementById("name").value.toString();
		var credit=parseFloat(document.getElementById("credit").value.toString());
		var hour=parseFloat(document.getElementById("hour").value.toString());
		var intro=document.getElementById("intro").value.toString();
		console.log(id, name, credit, hour, intro);
		new Promise(function (resolve){
		   $.ajax(
			   {
				   method: "POST",
				   url: basicUrl+"api/teacher/addcourse",
				   data: {
					   id: id,
					   name: name,
					   credit: credit,
					   hour: hour,
					   intro: intro,
					   csrfmiddlewaretoken: '{{ csrf_token }}'
				   },
				   async : false,
				   success: function (data) {
					   resolve(data);
					   console.log(data);
				   }

			   }
		   )
		}).then(
			function (data) {
				console.log(data);
				if(data.success)
				{
					{#alert("Apply success");#}
				}
				else{
					alert("fail");
				}

			}

		);
	}
</script>

{% endblock %}