{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<!-- head-starts -->
<head>
<title>浙江大学教务中心</title>
<script type="application/x-javascript"> 
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- Bootstrap Core CSS -->
<link href="{% static 'basicInfo/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'basicInfo/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'basicInfo/css/font-awesome.css' %}" rel="stylesheet">
<!-- jQuery -->
<link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'basicInfo/css/icon-font.min.css' %}" type='text/css' />
<script src="{% static 'basicInfo/js/amcharts.js' %}"></script>
<script src="{% static 'basicInfo/js/serial.js' %}"></script>
<script src="{% static 'basicInfo/js/light.js' %}"></script>
<!-- //lined-icons -->
<script src="{% static 'basicInfo/js/jquery-1.10.2.min.js' %}"></script>
   <!--pie-chart--->
<script src="{% static 'basicInfo/js/pie-chart.js' %}" type="text/javascript"></script>
</head> 
<!-- head-starts -->

<!-- body-starts -->
<body>
   <div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	   <div class="inner-content">

			<!-- header-starts -->
			<div class="header-section">
			<!-- top_bg -->
				<div class="top_bg">			
					<div class="header_top">
						<div class="top_right">
							<ul>
								<li><a href="contact.html">help</a></li>|
								<li><a href="contact.html">Contact</a></li>|
							</ul>
						</div>
					    <div class="top_left">
							<h2><span></span> Call us : 032 2352 782</h2>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- //header-ends -->
				
			<!--//content-inner-->
			<!--/sidebar-menu-->
			<div class="sidebar-menu">
				<header class="logo1">
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
				</header>
				<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                    <div class="menu">
						<ul id="menu" >
							<li><a href="/basic/teacher_index"><i class="fa fa-tachometer"></i> <span>主页</span></a></li>
							<li><a href="/basic/teacher_information"><i class="lnr lnr-pencil"></i> <span>个人信息</span></a></li>
							<li><a href="/basic/teacher_comment"><i class="fa fa-file-text-o"></i> <span>学生评价</span></a></li>
				<li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> 课程信息</span> <span class="fa fa-angle-right" style="float: right"></span></a>
					<ul id="menu-academico-sub" >
						<li id="menu-academico-avaliacoes" ><a href="teacher_course_regist">申请课程</a></li>
						<li id="menu-academico-boletim" ><a href="teacher_course_edit">修改课程</a></li>
					</ul>
				</li>
							<li><a href="/basic/school_forum"><i class="lnr lnr-envelope"></i> <span>浙大论坛</span></a></li>
						</ul>
					</div>
					<div class="clearfix"></div>		
			</div>

			<script>
			var toggle = true;
										
			$(".sidebar-icon").click(function() 
			{                
				if (toggle)
				{
					$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
					$("#menu span").css({"position":"absolute"});
				}
				else
				{
					$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
					setTimeout(function() 
					{
						$("#menu span").css({"position":"relative"});
					}, 400);
				}
											
				toggle = !toggle;
			});
			</script>
			<!--/sidebar-menu ends-->
<!--js -->
<script src="{% static 'basicInfo/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'basicInfo/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'basicInfo/js/bootstrap.min.js' %}"></script>
<script src="{% static 'basicInfo/js/jquery.fn.gantt.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'basicInfo/js/bootstrap.min.js' %}"></script>
<script src="{% static 'basicInfo/js/menu_jquery.js' %}"></script>
</body>
<!-- body-starts -->

</html>