{% load static %}
{% load extratags %}
<!DOCTYPE HTML>
<script>

    const type = 1;
    {#const type = 1;#}
    const data = {
        "problem_add_url": "{% url 'online_test:problem_add' %}",
        "problem_mod_url": "{% url 'online_test:problem_mod' 1 %} ",
        "problem_delete_url": "{% url 'online_test:problem_del'  1%}",
    };
</script>
 <script src="{% static 'online_test/js/jquery-1.10.2.min.js' %}"></script>

    <script>
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
    </script>
    <script src="{% static 'online_test/js/problem_bank.js' %}"></script>
<head>
    <title>浙江大学教务中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'online_test/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="{% static 'online_test/css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="{% static 'online_test/css/font-awesome.css' %}" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{% static 'online_test/css/icon-font.min.css' %}" type='text/css'/>
    <script src="{% static 'online_test/js/simpleCart.min.js' %}"></script>
    <script src="{% static 'online_test/js/amcharts.js' %}"></script>
    <script src="{% static 'online_test/js/serial.js' %}"></script>
    <script src="{% static 'online_test/js/light.js' %}"></script>
    <!-- //lined-icons -->
    <script src="{% static 'online_test/js/jquery-1.10.2.min.js' %}"></script>
    <script>
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
    </script>

    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
</head>

<body>
<div class="left-content">
    <div class="inner-content">
        <div class="header-section">
            <!-- top_bg -->
            <div class="top_bg">
                <div class="header_top">
                    <div class="top_right">
                        <ul>
                            <li>
                                <a href="#">浙江大学教务中心</a>
                            </li>-
                            <li>
                                <a href="/basic/teacher">首页</a>
                            </li>-
                            <li>
                                <a href="/online_test/subjects/teacher">在线测试</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top_left">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
                                <i class="fa fa-user fa-fw"></i>
                                <i id="account_id" class="fa fa-caret-down">&nbsp;&nbsp;{{ account.account_id }}</i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="/basic/login">
                                        <i class="fa fa-sign-out fa-fw"></i>登出</a>
                                </li>
                                <li>
                                    <a href="/basic/teacher_index">
                                        <i class="fa fa-cog fa-fw"></i>设置</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% if account.type == 0 %} {% include 'basicInfo/student_menu.html' %} {% elif account.type == 1 %} {% include 'basicInfo/teacher_menu.html'%}
            {% elif account.type == 2 %} {% include 'basicInfo/admin_menu.html' %} {% endif %}
            <!-- //header-ends -->
            <div class="clearfix"></div>
        </div>


        <div class="content">
            <div class="women_main">
                <font size="6" color="black">题目管理</font>
                <div class="content choice-content">
                    <div id="tabs_content" class="tab-content">
                        <div class="tab-pane fade in active" id="choice_problem">
                            <div class="row">
                                <div>
                                    <div class="panel panel-default" style="margin-bottom: 10px">
                                        <div>
                                            <span>题目信息</span>
                                            <br>
                                            <div class="container proinfo-box">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th width="200px"></th>
                                                        <th width="150px"></th>
                                                        <th width="200px"></th>
                                                    </tr>
                                                    </thead>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group">
                                                                <span>科目</span>
                                                                <div></div>
                                                                <span id="choice-subject-val">{{ problem.subject.name }}</span>
{#                                                                <input type="text" id="subject"#}
{#                                                                       value="{{ problem.subject }}">#}
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <div class="input-group">
                                                    <span>
                                                      章节
                                                    </span>
                                                                <div></div>
                                                                <span id="chapter">{{ problem.chapter }}</span>
{#                                                                <input type="text" id="chapter"#}
{#                                                                       value="{{ problem.chapter }}">#}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group">
                                                                <span>知识点</span>
                                                                <div></div>
                                                                <span id="knowledge_point">{{ problem.knowledge_point }}</span>
{#                                                                <input type="text" id="knowledge_point"#}
{#                                                                       value="{{ problem.knowledge_point }}">#}
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group">
                                                                <span>录入日期</span>
                                                                <div></div>
                                                                <span id="add-time">{{ problem.add_time }}</span>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span>修改日期</span>
                                                                <div></div>
                                                                <span id="latest-update-time">{{ problem.latest_modify_time }}</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div>
                                                                <span>分值</span>
                                                                <div></div>
                                                                <input id="score" type="text"
                                                                       value="{{ problem.score }}">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <div class="form-group">
                                            <label for="name">题干内容</label>
                                            <textarea class="form-control" rows="3"
                                                      id="content">{{ problem.content }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">选项内容</label>
                                            <div class="container">
                                                <div>
                                                    <label for="name">选项A</label>
                                                    <textarea class="form-control" rows="1" id="choice_a"
                                                              style="width: 60%">{{ problem.choice_a }}</textarea>
                                                </div>
                                                <div>
                                                    <label for="name">选项B</label>
                                                    <textarea class="form-control" rows="1" id="choice_b"
                                                              style="width: 60%">{{ problem.choice_b }}</textarea>
                                                </div>
                                                <div>
                                                    <label for="name">选项C</label>
                                                    <textarea class="form-control" rows="1" id="choice_c"
                                                              style="width: 60%">{{ problem.choice_c }}</textarea>
                                                </div>
                                                <div>
                                                    <label for="name">选项D</label>
                                                    <textarea class="form-control" rows="1" id="choice_d"
                                                              style="width: 60%">{{ problem.choice_d }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="name">题目答案</label>
                                                <select style="width: 100px;" id="solution">
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                    <option value="E">E</option>
                                                    <option value="F">F</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <a class="btn btn-primary" id="btn-update-choice-problem" role="button"
                           style="margin-right: 20px">更新</a>
                        <a class="btn btn-primary" id="btn-delete-choice-problem" role="button"
                           style="margin-right: 20px">删除</a>
                        <a class="btn btn-primary btn-go-back" onclick="window.close()" role="button">取消</a>
                    </div>
                </div>

                <div id="tabs_content" class="tab-content">
                    <div class="tab-pane fade in active" id="TF_problem">
                        <br>
                        <div class="row">
                            <div class="col-sm-9" style="border-right-style: inset">
                                <div class="TF_problems_list">
                                </div>
                            </div>

                            <div class="col-sm-3">

                                <div class="statics">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="choice_problem">
                        <br>
                        <div class="row">
                            <div class="col-sm-9" style="border-right-style: inset">
                                <div class="choice_problems_list">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="statics">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu" >
                <li><a href="/basic/teacher_information"><i class="lnr lnr-pencil"></i> <span>个人信息</span></a></li>
                <!-- <li><a href="/basic/teacher_comment"><i class="fa fa-file-text-o"></i> <span>学生评价</span></a></li> -->
                <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> 课程信息</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                    <ul id="menu-academico-sub" >
                        <li><a href="{% url 'courses' %}">课程搜索</a></li>
                        <li id="menu-academico-avaliacoes" ><a href="/basic/teacher_course_regist">申请开课</a></li>
                        <li id="menu-academico-avaliacoes" ><a href="/basic/teacher_course_open">申请开班</a></li>
                        <li><a href="{% url 'teacher' %}">教师导出</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'calender' %}"><i class="fa fa-file-text-o"></i><span>课表安排</span></a></a></li>
                <li><a href="{% url 'forum' %}"><i class="lnr lnr-envelope"></i> <span>浙大论坛</span></a></li>
                <li id="menu-academico" ><a href="#"><i class="lnr lnr-layers"></i> <span> 在线测试</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                    <ul id="menu-academico-sub" >
                        <li><a href="{% url 'online_test:subjects_teacher' %}">学生成绩</a></li>
                        <li><a href="{% url 'online_test:problem_bank' %}">题库管理</a></li>
                        <li><a href="{% url 'online_test:auto_test_generation' %}">试卷管理</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
        var x = 'C';//这个是上次选中的值,你应该放到request中返回的时候可以取到
        var sel = $("#solution");
        for (var i = 0; i < sel.options.length; i++) {
            if (sel.options[i].value == x) {
                sel.options[i].selected = true;
                break;
            }
        }

    </script>
<!--js -->
<script src="{% static 'online_test/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'online_test/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'online_test/js/bootstrap.min.js' %}"></script>
<!-- /Bootstrap Core JavaScript -->
<!-- real-time -->


<script src="{% static 'online_test/js/menu_jquery.js' %}"></script>

</body>

</html>