{% load static %}
{% load extratags %}
<!DOCTYPE HTML>
<html>

<head>
    <title>浙江大学教务中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'online_test/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="{% static 'online_test/css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="{% static 'online_test/css/font-awesome.css' %}" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{% static 'online_test/css/icon-font.min.css' %}" type='text/css'/>
    <script src="{% static 'online_test/js/simpleCart.min.js' %}"></script>
    <script src="{% static 'online_test/js/amcharts.js' %}"></script>
    <script src="{% static 'online_test/js/serial.js' %}"></script>
    <script src="{% static 'online_test/js/light.js' %}"></script>
    <!-- //lined-icons -->
    <script src="{% static 'online_test/js/jquery-1.10.2.min.js' %}"></script>
    <!-- <script src="{% static 'online_test/js/test_detail.js' %}"></script> -->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js"></script>

</head>

<body>
<div class="left-content">
    <div class="inner-content">
        <div class="header-section">
            <!-- top_bg -->
            <div class="top_bg">
                <div class="header_top">
                    <div class="top_right">
                        <ul>
                            <li>
                                <a href="#">浙江大学教务中心</a>
                            </li>-
                            <li>
                                <a href="/basic/teacher">首页</a>
                            </li>-
                            <li>
                                <a href="/online_test/subjects/teacher">在线测试</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top_left">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
                                <i class="fa fa-user fa-fw"></i>
                                <i id="account_id" class="fa fa-caret-down">&nbsp;&nbsp;{{ account.account_id }}</i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="/basic/login">
                                        <i class="fa fa-sign-out fa-fw"></i>登出</a>
                                </li>
                                <li>
                                    <a href="/basic/teacher_index">
                                        <i class="fa fa-cog fa-fw"></i>设置</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% if account.type == 0 %} {% include 'basicInfo/student_menu.html' %} {% elif account.type == 1 %} {% include 'basicInfo/teacher_menu.html'%}
            {% elif account.type == 2 %} {% include 'basicInfo/admin_menu.html' %} {% endif %}
            <!-- //header-ends -->
            <div class="clearfix"></div>
        </div>


        <div class="content">
            <div class="women_main">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            科目选择
                        </th>
                    </tr>
                    </thead>

                    {% if object_list %}
                        {% for subject in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'online_test:teacher_statistics_tests' subject.course_id %}">{{ subject.name }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>


<div class="sidebar-menu">
	<header class="logo1">
		<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
	</header>
	<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
		<ul id="menu" >
			<li><a href="/basic/teacher_information"><i class="lnr lnr-pencil"></i> <span>个人信息</span></a></li>
			<!-- <li><a href="/basic/teacher_comment"><i class="fa fa-file-text-o"></i> <span>学生评价</span></a></li> -->
			<li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> 课程信息</span> <span class="fa fa-angle-right" style="float: right"></span></a>
				<ul id="menu-academico-sub" >
					<li><a href="{% url 'courses' %}">课程搜索</a></li>
					<li id="menu-academico-avaliacoes" ><a href="/basic/teacher_course_regist">申请开课</a></li>
					<li id="menu-academico-avaliacoes" ><a href="/basic/teacher_course_open">申请开班</a></li>
					<li><a href="{% url 'teacher' %}">教师导出</a></li>
				</ul>
			</li>
			<li><a href="{% url 'calender' %}"><i class="fa fa-file-text-o"></i><span>课表安排</span></a></a></li>
			<li><a href="{% url 'forum' %}"><i class="lnr lnr-envelope"></i> <span>浙大论坛</span></a></li>
			<li id="menu-academico" ><a href="#"><i class="lnr lnr-layers"></i> <span> 在线测试</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub" >
                    <li><a href="{% url 'online_test:subjects_teacher' %}">学生成绩</a></li>
                    <li><a href="{% url 'online_test:problem_bank' %}">题库管理</a></li>
                    <li><a href="{% url 'online_test:auto_test_generation' %}">试卷管理</a></li>

				</ul>
            </li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>

<!--js -->
<script src="{% static 'online_test/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'online_test/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'online_test/js/bootstrap.min.js' %}"></script>
<!-- /Bootstrap Core JavaScript -->
<!-- real-time -->


<script src="{% static 'online_test/js/menu_jquery.js' %}"></script>
</body>

</html>