{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>教师成绩管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'online_test/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="{% static 'online_test/css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="{% static 'online_test/css/font-awesome.css' %}" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{% static 'online_test/css/icon-font.min.css' %}" type='text/css'/>
    <script src="{% static 'online_test/js/simpleCart.min.js' %}"></script>
    <script src="{% static 'online_test/js/amcharts.js' %}"></script>
    <script src="{% static 'online_test/js/serial.js' %}"></script>
    <script src="{% static 'online_test/js/light.js' %}"></script>
    <!-- //lined-icons -->
    <script src="{% static 'online_test/js/jquery-1.10.2.min.js' %}"></script>
    <!-- <script src="{% static 'online_test/js/test_detail.js' %}"></script> -->

</head>

<body>
<div class="left-content">
    <div class="inner-content">
        <div class="header-section">
            <div class="top_bg">
                <div class="header_top">
                    <div class="top_right">
                        <ul>
                            <li>
                                <a href="contact.html">help</a>
                            </li>
                            |
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top_left">
                        <h2>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>


        <div class="content">
            <div class="women_main">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                章节
                            </th>
                            <th>
                                总成绩
                            </th>
                            <th>
                                总分
                            </th>
                        </tr>
                    </thead>
                    {% if object_list.items %}
                        {% for chapter, info in object_list.items %}
                        <tr>
                            <td width="50%">
                                {{ chapter.chapter }}
                            </td>
                            <td>
                                {{ info.correct_num }}
                            </td>
                            <td>
                                {{ info.total_num }}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>





            </div>
        </div>
    </div>
</div>


<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon">
            <span class="fa fa-bars"></span>
        </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li>
                <a href="index.html">
                    <i class="fa fa-tachometer"></i>
                    <span>主页</span>
                </a>
            </li>
            <li>
                <a href="products.html">
                    <i class="lnr lnr-chart-bars"></i>
                    <span>选课</span>
                </a>
            </li>
            <li id="menu-academico">
                <a href="#">
                    <i class="lnr lnr-layers"></i>
                    <span>论坛</span>
                    <span class="fa fa-angle-right" style="float: right"></span>
                </a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes">
                        <a href="tabs.html">Tabs</a>
                    </li>
                    <li id="menu-academico-boletim">
                        <a href="calender.html">Calender</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="lnr lnr-chart-bars"></i>
                    <span>答题系统</span>
                    <span class="fa fa-angle-right" style="float: right"></span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'online_test:teacher_statistics_tests' %}"> 查看题库 </a>
                    </li>
                    <li>
                        <a href="{% url 'online_test:teacher_statistics_chapters' %}">章节统计</a>
                    </li>
                    <li>
                        <a href="{% url 'online_test:teacher_statistics_knowledge_points' %}"> 知识点统计 </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--js -->
<script src="{% static 'online_test/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'online_test/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'online_test/js/bootstrap.min.js' %}"></script>
<!-- /Bootstrap Core JavaScript -->
<!-- real-time -->


<script src="{% static 'online_test/js/menu_jquery.js' %}"></script>
</body>

</html>